html {
  background-color: rgb(147, 201, 236);
  border: 4px double rgb(13, 162, 207);
  font-style: italic;
}
h1 {
  color: rgb(13, 80, 143);
  background-color: rgb(206, 235, 236);
  border: 6px solid rgb(128, 194, 248)
}
h2 {
  color: rgb(209, 70, 236);
  font-variant: small-caps
 }
 img {
   border: 8px dotted rgb(6, 37, 104);
   padding: 12px
 }